.cart-block {
    position: relative;
    float: right;
    color: white;
    font-size: 26px;
    margin: 10px 20px 0;
    cursor:pointer;
}

.glyphicon-circle-arrow-up{
    position: absolute;
    color:orange;
    font-size: 12px;
    right: -3px;
}


.cart-wrapper{
    padding:10px;
}
.navbar-collapse{
    position: relative;
}
.items-busket{
    background: white;
    position: absolute;
    min-height: 300px;
    right:0;
    top:38px;
    width:300px;
    z-index:100000;
    border:1px solid black;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:25px;
}
.phone-list {
    list-style-type:none;
}
.phone-block {
    min-height:350px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
}
.phone-image a img{
    width:100px;
}
.instock{
    color:green;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px 0;
}
.detail-page-link{
    color:#101010;
    font-size:20px;
}
.detail-page-link + ul{
    margin:20px 0;
}
.clear{
    clear: both;
}
.btn-add-to-cart{
    width:150px;
    float: right;
    margin: 0 20px 20px;
}
.btn-add-to-cart span{
    font-size:16px;
    padding-right:30px;
}
.phone-description{
    min-height:200px;
}
.phone-img-block{
    padding:30px 10px;
}
.price{
    display: block;
    font-size:16px;
    margin-left: 40px;
}
.price .price-value{
    font-size:18px;
    color:red;
}

.phone-thumbs{
    list-style-type:none;
}
.phone-thumbs li, .specs li{
    display: inline-block;
    vertical-align: top;
    margin:0 15px;
}
.phone-thumbs img{
    width:50px;
    cursor: pointer;
}

.search-field{
    width:200px;
    margin-bottom:20px;
}

